<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fumagalli2020">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.Login"
            android:label="@string/strLoginPage"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UI.Register"
            android:label="@string/strRegisterPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Login">
            </meta-data>
        </activity>

        <activity
            android:name=".UI.ResetPassword"
            android:label="@string/strResetButton"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Login">
            </meta-data>
        </activity>

        <activity
            android:name=".UI.ReadTerms"
            android:label="@string/strReadTerms"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Login">
            </meta-data>
        </activity>

        <activity
            android:name=".UI.AdminInfo"
            android:label="@string/strReadTerms"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Login">
            </meta-data>
        </activity>
        <activity
            android:name=".UI.RegisterMarket"
            android:label="@string/strReadTerms"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UI.RegisterEmployee"
            android:label="Registra Dipendente"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.EmployeeList">
            </meta-data>
        </activity>

        <activity android:name=".UI.EmployeeList"
            android:label="Lista Dipendenti"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UI.CategoryList"
            android:label="Categorie"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UI.RegisterCategory"
            android:label="Registra Categoria"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.CategoryList">
            </meta-data>
        </activity>

        <activity
            android:name=".UI.RegisterProduct"
            android:label="Registra Prodotto"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UI.ProductList"
            android:label="Prodotti"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.CategoryList">
            </meta-data>
        </activity>
        <activity
            android:name=".UI.CustChainList"
            android:label="Catene Supermercati"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UI.CustMarketList"
            android:label="Lista Supermercati"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.CustChainList">
            </meta-data>
        </activity>
        <activity
            android:name=".UI.CustCategoryList"
            android:label="Lista Categorie"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.CustMarketList">
            </meta-data>
        </activity>
        <activity
            android:name=".UI.CustProductList"
            android:label="Lista Prodotti"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UI.CustCartList"
            android:label="Carrelli"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UI.CustCartSingle"
            android:label="Carrello"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.CustCartList">
            </meta-data>
        </activity>
        <activity
            android:name=".UI.Checkout"
            android:label="Checkout"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.CustCartSingle">
            </meta-data>
        </activity>
        <activity android:name=".UI.CustOrders"
            android:label="@string/strMyOrdersPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.Login">
            </meta-data>
        </activity>
        <activity
            android:name=".UI.LogisticOrders"
            android:label="Ordini"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".UI.MarketInfo"
            android:label="Info Negozio"
            android:screenOrientation="portrait">

        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>