<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fumagalliproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UserInterface.Login"
            android:label="@string/strLoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UserInterface.Register"
            android:label="@string/strRegisterPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.Login">
            </meta-data>
        </activity>

        <activity
            android:name=".UserInterface.ChainList"
            android:label="@string/strChainPage"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UserInterface.CartList"
            android:label="@string/strCartListPage"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UserInterface.MyProfile"
            android:label="@string/strMyProfilePage"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".UserInterface.MyCart"
            android:label="@string/strMyCartPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.CartList">
            </meta-data>
        </activity>

        <activity
            android:name=".UserInterface.MarketList"
            android:label="@string/strMarketListPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.ChainList">
            </meta-data>
        </activity>

        <activity
            android:name=".UserInterface.CategoryList"
            android:label="@string/strCategoryListPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.MarketList">
            </meta-data>
        </activity>

        <activity android:name=".UserInterface.ProductList"
            android:label="@string/strProductListPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.CategoryList">
            </meta-data>
        </activity>

        <activity android:name=".UserInterface.Terms"
            android:label="@string/strTermsPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.ChainList">
            </meta-data>
        </activity>

        <activity android:name=".UserInterface.MyOrders"
            android:label="@string/strMyOrdersPage"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UserInterface.ChainList">
            </meta-data>
        </activity>



    </application>

</manifest>